#aboutUs .txtHead{
    background:#fff;
    padding:20px 10px;
}

#aboutUs .txtHead .fab {
    font-size: 58px;
    color: #5E5E5E;
}

.tileBox p{
    background-color: #f0f0f0;
    font-size: 15px;
    color: #777777;
    padding: 20px;
    margin: 0px;
}
