.banner-container {
    width: 100%;
    position: relative;
    padding: 0;
    box-shadow: 0 0 1px rgba(0,0,0,0.4);
    background-size: cover;
    margin-top: 60px;
    background-image: url('../images/banner-bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.banner-container > .avatar {
    width: 250px;
    height: 250px;
}

@media (max-width: 768px) {
    .banner-container {
        background-size: contain;
    }
}

@media (max-width: 480px) {
    .banner-container {
        background-size: contain;
        margin-top: 67px;
    }
}

@media (max-width: 320px) {
    .banner-container {
        background-size: contain;
    }
}
